header{
	width: 100%;
	background-color: #204B97;
	display: flex;
	justify-content: left;
	flex-direction: column;
}
.menu{
	height: 40px;
	color: white;
	margin-left: 40px;
	margin-top: 10px;
}
.menu_option{
	margin-left: 40px;
	margin-top: 10px;
	height: 100px;
	display: none;
}
a{
	color: white;
	text-decoration: none;
}
.container{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
	grid-column-gap: 10%;
	grid-row-gap: 10px;
	margin-top: 10px;
}
.item{
	width: 100%;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	height: 300px;
	background-color: #F7F7F7;
}
.image{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 200px;
}
#edit_back{
	background-color: #386ABE;
}
#modify_back{
	background-color: #4E92CE;
}
#delete_back{
	background-color: #69A842;
}
.image_gestion{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40%;
	height: 120px;
}
figcaption{
	background-color: #A8A8A8;
	padding-top: 10px;
	height: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.item:hover .image{
	height: 150px;
}
.item:hover figcaption{
	height:20%;
	background-color: red;
	text-align: center;
}
header:hover .menu_option{
	display:block;
}
a:hover{
	color: #8F9596;
}